$color_bg_primary: #202124;
$color_bg_secondary: #27272A;
$color_bg_light_gray: #A1A1AA;

$color_border_gray: #414144;
$color_border_light_gray: #C6C6C6;

$color_gray: #A1A1AA;
$color_input: #71717A;

$height_header: 44px;