@import "src/styles/vars";

.menu {
  background-color: transparent;
  border-bottom: 0;
  color: $color_gray;

  :global {
    .ant-menu-item-selected {
      color: #fff !important;

      &::after {
        border-color: #fff !important;
      }
    }

    .ant-menu-item:hover {
      color: #fff !important;

      &::after {
        border-color: #fff !important;
      }
    }
  }
}