@import "./styles/vars";

.main_layout {
  height: 100vh;
  background-color: $color_bg_primary;
}

.content {
  background-color: $color_bg_primary;
}

.sider {
  background-color: $color_bg_secondary;
}